<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.qadzifi.eclipse.dialog.modeling.qdialog.presentation.QDialogModelWizardID"
            name="%_UI_QDialogModelWizard_label"
            class="org.qadzifi.eclipse.dialog.modeling.qdialog.presentation.QDialogModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QDialogModelFile.gif">
         <description>%_UI_QDialogModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated model -->
      <editor
            id="org.qadzifi.eclipse.dialog.modeling.qdialog.presentation.QDialogEditorID"
            name="%_UI_QDialogEditor_label"
            icon="icons/full/obj16/QDialogModelFile.gif"
            extensions="qzedm"
            class="org.qadzifi.eclipse.dialog.modeling.qdialog.presentation.QDialogEditor"
            contributorClass="org.qadzifi.eclipse.dialog.modeling.qdialog.presentation.QDialogActionBarContributor">
      </editor>
   </extension>

</plugin>
